<div style="display: none;">
    <div class="box-modal form-modal bg-dark px-4 pb-5 pt-2" id="form-modal">
        <div class="form-modal__close arcticmodal-close text-right -mx-4">
            <svg class="w-8 close-icon  inline-block cursor-pointer mr-2" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 32 32">
                <path
                        d="M7.21875 5.78125L5.78125 7.21875L14.5625 16L5.78125 24.78125L7.21875 26.21875L16 17.4375L24.78125 26.21875L26.21875 24.78125L17.4375 16L26.21875 7.21875L24.78125 5.78125L16 14.5625Z"
                        fill="#5B5B5B" />
            </svg>
        </div>
        <h3 class="form-modal__title text-white font-medium text-center">
            Заказ обратного звонка
        </h3>
        <form class="flex flex-wrap mx-auto">
            <div class="flex w-full justify-center mt-10 md:mt-12">
                <input type="text" name="name" class="input w-full max-w-350 border-b border-gray placeholder-gray text-gray text-gray text-lg bg-transparent" placeholder="Имя">
            </div>
            <div class="flex w-full justify-center mt-10 md:mt-12">
                <input type="tel" name="tel" class="input w-full max-w-350 border-b border-gray placeholder-gray text-gray text-lg bg-transparent" placeholder="Телефон">
            </div>
            <div class="tariff__bottom flex flex-wrap justify-center w-full items-center">
                <button type="submit" class="orange-button w-full max-w-350 orange-button_bigger-xs flex bg-orange text-white rounded-sm text-lg cursor-pointer mt-10">
                    <span class="flex justify-center items-center w-full h-full">
                        Заказать звонок
                    </span>
                </button>
                <label class="flex items-center text-white text-sm cursor-pointer w-full mt-8 md:mt-10">
                    <input type="checkbox" name="agree" class="checkbox hidden" checked>
                    <span class="checkbox-custom flex flex-shrink-0 justify-center items-center">
                        <img class="check flex-shrink-0" src="img/elements/check.png">
                    </span>
                    <span class="flex">
                        Я соглашаюсь на обработку моих персональных данных.
                    </span>
                </label>
            </div>
        </form>
    </div>
</div>

<div style="display: none;">
    <div class="box-modal  bg-dark px-4 py-5" id="error-modal">
        <div class="text-white text-center text-base sm:text-lg">
            В форме содержатся ошибки, проверьте правильность заполнения полей.
        </div>
    </div>
</div>