@import '../../node_modules/tailwindcss/base';
@import '../../node_modules/tailwindcss/components';


@import 'fonts';


$root-font-size: 16;

$dark: #343537;
$orange: #FE7A00;
$orange-hover: #ff902a;
$gray: #C4C4C4;

@function s($size) {
    @return $size / $root-font-size * 1rem;
}



body {
    font-family: 'HelveticaNeueCyr' , sans-serif;
    color: #000;
    font-size: s(20);
    font-weight: normal;
    word-wrap: break-word;
    line-height: 1.13;
    background-color: #F7F5F2;

    padding-top: s(48);

    @media (min-width: 768px) {
        padding-top: s(78);
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: s(15);
    padding-right: s(15);
}

.input, button {
    outline: none!important;

    &:hover {
        outline: none!important;
    }
}

p {
    margin-bottom: 1rem;
}

a {
    transition: .3s;
}


section:not(.promo) {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.bars {
    z-index: 99;
    right: 1rem;
    top: 1rem;
}

.logo {
    svg {
        width: s(100);

        @media (min-width: 375px) {
            width: s(120);
        }

        @media (min-width: 768px) {
            width: auto;
        }
    }

    &__letters {
        fill: white;
        
        @media (min-width: 768px) {
            fill: #343537;
        }
    }
}

.header {
    background-color: $dark;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;

    @media (min-width: 768px) {
        background-color: #F7F5F2;
    }

    &__inner {
        padding: s(6) s(15) s(9);
        margin-left: - s(15);
        margin-right: - s(15);

        @media (min-width: 768px) {
            padding: s(15) 0 s(18);
            margin-left: auto;
            margin-right: auto;
        }
    }



    &__gray-block {
        width: s(817);
        right: -22.375rem;
        background-color: $dark;
    }
}

.first {
    @media (min-width: 768px) {
        height: s(900);
    }

    &__phone {
        margin-right: s(13);
        font-size: s(16);

        @media (min-width: 576px) {
            font-size: s(22);
        }

        @media (min-width: 768px) {
            margin-right: s(27);
        }
    }

    &__phone-text {
        font-size: s(10);
        @media (min-width: 768px) {
            font-size: s(16);
        }
    }

    .container {
        @media (max-width: 767.9px) {
            width: 100%!important;
            max-width: 100%!important;
        }
    }

    &__right-gray-block {
        width: s(817);
        background: $dark;
        top: 0;


        @media (min-width: 768px) {
            left: auto;
            height: 42rem;
            right: - s(358);
        }

        @media (min-width: 992px) {
            height: 47rem;
        }
        
        @media (min-width: 1200px) {
            height: s(900);
        }
    }

    &__img {
        margin-left: - s(15);
        margin-right: - s(15);
        height: s(245);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (min-width: 576px) {
            height: s(292);
        }

        @media (min-width: 768px) {
            margin-left: auto;
            margin-right: auto;
            right: - s(358);
            width: 60rem;
            max-width: 60rem;
            height: s(475);
        }
        
        @media (min-width: 992px) {
            width: 68rem;
            max-width: 68rem;
            height: s(538);
        }
        
        @media (min-width: 1200px) {
            width: s(1298);
            max-width: s(1298);
            height: s(642);
        }
    }

    &__dots {
        left: 1rem;
        top: 194px;
    }

    &__title-block {
        bottom: s(33);
        left: - s(15);
        padding: s(45) 0 s(42) s(15);
        width: s(324);

        @media (min-width: 375px) {
            bottom: s(66);
        }

        @media (min-width: 768px) {
            padding: s(98) s(13) s(75) s(53);
            height: s(458);
            width: s(483);
            left: 1rem;
            bottom: s(35);

        }
    }

    &__title {
        font-size: s(30);
        font-weight: 900;
        line-height: 1.13;

        @media (min-width: 768px) {
            font-size: s(46);
        }
    }

    &__desc {
        font-size: s(16);
        line-height: 1.13;
        margin-top: s(8);

        @media (min-width: 768px) {
            font-size: s(20.5);
            margin-top: s(10);
        }
    }

    &__arrow {
        bottom: 4.25rem;
        left: 42.4375rem;

        @media (min-width: 992px) {
            bottom: s(36);
            left: s(615);
        }
    }

}

.white-button {
    width: s(206);
    height: s(45);
}

.orange-button {
    width: s(204);
    height: s(45);
    transition: .3s;
    font-size: s(16);

    @media (min-width: 768px) {
        width: s(261);
        height: s(57);
        font-size: s(18);
    }

    &_mt {
        &_73px {
            margin-top: s(29);
            @media (min-width: 768px) {
                margin-top: s(73);
            }
        }
    }

    &:hover {
        background: $orange-hover;
    }

    &_bigger-xs {
        @media (max-width: 768px) {
            width: 100%;
            height: s(57);
            font-size: s(18);
        }
    }
}

.orange-caption {
    position: relative;
    font-size: s(10);

    @media (min-width: 768px) {
        font-size: s(12);
    }

    &::after {
        content: '';
        width: s(34);
        height: s(3);
        position: absolute;
        display: inline-block;
        background-color: $orange;
        top: 50%;
        margin-top: - s(2);
        margin-left: s(8);
    }
}

h2  {
    font-weight: 900;
    color: $dark;
    font-size: s(24);
    line-height: 1.13;

    @media (min-width: 576px) {
        font-size: s(32);
    }

    @media (min-width: 768px) {
        font-size: s(42);
    }

    @media (min-width: 1200px) {
        font-size: s(46);
    }
}

.cube, .cube__inner {
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: s(6);
        height: s(6);
        background: $orange;
        flex-shrink: 0;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: s(6);
        height: s(6);
        background: $orange;
        flex-shrink: 0;
    }
}

.cube {
    border: s(0.5) solid $orange;
    background: rgba(254, 122, 0, 0.04);
    width: s(80);
    height: s(80);

    &::before {
        margin-left: - s(3);
        margin-top: - s(3);
        left: 0;
        top: 0;
    }

    &::after {
        margin-left: - s(3);
        margin-bottom: - s(3);
        left: 0;
        bottom: 0;
    }

    &__inner {
        &::before {
            margin-right: - s(3);
            margin-top: - s(3);
            right: 0;
            top: 0;
        }

        &::after {
            margin-right: - s(3);
            margin-bottom: - s(3);
            right: 0;
            bottom: 0;
        }
    }
}

.who {
    margin-top: - s(18);
    padding-bottom: s(52);

    @media (min-width: 768px) {
        margin-top: s(80);
        padding-bottom: s(103);
    }

    @media (min-width: 1200px) {
        margin-top: s(160);
    }

    &__circle {
        right: s(16);
        top: s(168);
        transform: translateX(50%);
    }

}

.who-item {
    margin-top: s(51);

    @media (min-width: 576px) {
        margin-top: s(42);
    }

    &__title {
        margin-top: s(24);
    }

    &__desc {
        line-height: 1.57;
        margin-top: s(8);
        max-width: s(279);
    }
}


.mt {
    &-6px {
        margin-top: s(6);
    }
}

.max-w-820 {
    max-width: s(820);
}

.max-w-350 {
    max-width: s(350);
}

.job {
    padding-top: s(47);
    padding-bottom: s(85);

    @media (min-width: 768px) {
        padding-top: s(90);
    }


    &__dots {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(85%);
        
        @media (min-width: 768px) {
            transform: translateX(-50%) translateY(83%);
        }
    }

    &__ul {
        max-width: s(404);
        margin-top: s(5);

        @media (min-width: 992px) {
            margin-top: s(9);
        }
    }

    &__notebook {
        height: 268px;

        @media (min-width: 576px) {
            height: 400px;
        }

        @media (min-width: 768px) {
            height: 550px;
        }

        @media (min-width: 992px) {
            height: auto;
        }
    }

    &__notebook-wrap {
        max-width: s(290);

        @media (min-width: 375px) {
            max-width: s(345);
        }

        @media (min-width: 375px) {
            max-width: s(345);
        }

        @media (min-width: 576px) {
            max-width: s(430);
        }
        @media (min-width: 768px) {
            max-width: s(593);
        }
    }

    &__bottom {
        border-top: s(2) solid rgba(255, 255, 255, 0.3);
        padding-top: s(18);

        @media (min-width: 992px) {
            border-top: s(4) solid rgba(255, 255, 255, 0.3);
            padding-top: s(26);
            margin-top: s(48);
        }
    }

    &__director {
        margin-top: s(24);

        @media (min-width: 992px) {
            margin-top: 0;
        }
    }

    &__avatar {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: s(45);
        height: s(45);
        flex-shrink: 0;
        margin-right: s(12);
        
        @media (min-width: 576px) {
            width: s(85);
            height: s(85);
            margin-right: s(29);
        }
    }

    &__director-name {
        font-size: s(14);
        font-weight: 500;
        
        @media (min-width: 576px) {
            font-size: s(22);
        }
    }

    &__director-desc {
        margin-top: s(5);
    }
    
    &__desc {
        font-style: italic;
        font-weight: 500;
        margin-top: s(11);
        line-height: 1.28;

        @media (min-width: 992px) {
            line-height: 1.13;
        }
    }
}

.decorated-li {
    margin-top: s(28);
    display: inline-flex;
    
    @media (min-width: 992px) {
        margin-top: s(30);
    }

    &::before {
        content: '';
        display: inline-flex;
        width: s(10);
        height: s(10);
        background: $orange;
        flex-shrink: 0;
        margin-top: - s(6);
        margin-right: s(7);
    }
}

.micro {
    width: s(283);
    height: s(178);
    padding: s(8) s(15) s(4) s(15);
    background: #F9F9F9;
    transform: scale(.9) translateY(-8px) translateX(-1px);

    @media (min-width: 375px) {
        transform: scale(1.06) translateY(-9px) translateX(-1px);
    }
    
    @media (min-width: 576px) {
        transform: scale(1.3) translateY(-9px) translateX(0);
    }

    @media (min-width: 768px) {
        transform: scale(1.8) translateY(-9px) translateX(0);
    }

    &__job {
        max-width: s(76);
    }

    &__top {
        height: s(132);
        padding: s(6) s(11) s(8) s(11);
    }

    &__avatar {
        background-size: cover;
        background: no-repeat center;
        width: s(32);
        height: s(32);
        margin-right: s(10);
    }

    &__job-key {
        color: #8E8E8E;
        font-size: s(8);
        font-weight: 500;
    }

    &__job-value {
        color: black;
        font-size: s(9);
        font-weight: bold;
        line-height: 1.09;
        margin-top: s(2);
    }

    &__pay-text {
        font-weight: 500;
        font-size: s(8);
        color: #8E8E8E;
    }

    &__pay-value {
        font-weight: bold;
        font-size: s(10);
        line-height: 1;
        margin-top: s(2);
    }

    &__skills {
        margin-top: s(7);
        padding-top: s(9);
        border-top: s(0.5) solid #FE7A00;
    }

    &__skills-list {
        margin-top: s(5);
    }

    &__skills-title {
        font-size: s(9);
        font-weight: bold;
        color: black;
    }

    &__skill {
        font-size: s(6);
        max-width: s(87);
        margin-top: s(9);
        display: inline-flex;

        &::before {
            content: '';
            display: inline-flex;
            width: s(4);
            height: s(4);
            background: $orange;
            margin-right: s(1);
            flex-shrink: 0;
            margin-top: - s(4);
        }
    }

    &__bottom {
        margin-top: s(2);
        margin-left: - s(1.5);
        margin-right: - s(1.5);
    }

    &__plate {
        padding-left: s(1.5);
        padding-right: s(1.5);
    }

    &__plate-inner {
        padding: s(5) s(12) s(5) s(12);
    }

    &__companies-count {
        font-size: s(9);
        font-weight: bold;
        line-height: 1.23;
    }

    &__companies-desc {
        margin-top: s(2);
        font-size: 5.5px;
        line-height: 1.07;
    }
}

.study {
    margin-top: s(63);

    @media (min-width: 768px) {
        margin-top: s(88);
    }

    &__desc {
        margin-top: s(17);
        line-height: 1.86;

        @media (min-width: 768px) {
            line-height: 1.44;
        }
    }

    &__credit {
        margin-top: s(11);

        @media (min-width: 992px) {
            margin-top: 0;
        }
    }

    &__credit-title {
        font-size: s(18);
        font-weight: bold;
        line-height: 1.18;
        color: $dark;
        
        @media (min-width: 768px) {
            font-size: s(22);
        }
    }

    &__credit-inner {
        padding: s(17) s(12);
        
        @media (min-width: 768px) {
            padding: s(40) s(32);
        }
    }

    &__banks {
        margin-top: s(21);
        
        @media (min-width: 768px) {
            margin-top: s(40);
        }
    }

    &__list {
        margin-top: s(20);
        @media (min-width: 768px) {
            margin-top: s(30);
        }
    }

    .decorated-li {
        margin-top: s(10);
        
        @media (min-width: 768px) {
            margin-top: s(28);
        }
        
        &::before {
            width: s(5);
            height: s(5);
            margin-right: s(2);
            margin-top: - s(2);
        }
    }

    &__companies-title {
        font-size: s(22);
        font-weight: bold;
        margin-top: s(38);

        @media (min-width: 768px) {
            font-size: s(28);
            margin-top: s(74);
        }
    }

    &__table-wrap {
        -webkit-overflow-scrolling:touch;
    }

    table {
        width: 44.125rem;
        margin-top: s(12);
        
        @media (min-width: 768px) {
            width: s(1170);
            margin-top: s(45);
        }
        
        td {
            padding: s(16);
            width: s(141);
            height: s(82);
            text-align: center;
            vertical-align: center;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(1);
            transition: .3s;
            
            @media (min-width: 768px) {
                width: s(237);
                height: s(138);
            }

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

.form-block {
    margin-top: s(31);

    @media (min-width: 768px) {
        margin-top: s(69);
    }

    &__inner {
        padding-top: s(45);
        padding-bottom: s(113);

        @media (min-width: 768px) {
            padding-top: s(92);
            padding-bottom: s(85);
        }
    }

    &__circle {
        left: 50%;
        transform: translateY(97%) translateX(-50%) rotate(- 90deg) scale(1.5);
        bottom: 0;

        @media (min-width: 1200px) {
            bottom: auto;
            top: 0;
            right: s(15);
            left: auto;
            transform: translateY(-50%) translateX(0) rotate(0) scale(1);
        }
    }
}

.gray-form {
    margin-top: s(30);

    @media (min-width: 768px) {
        margin-top: s(72);
    }

    &__agree-block {
        margin-top: s(28);
        width: 100%;

        @media (min-width: 992px) {
            margin-top: 0;
            width: 35rem;
            margin-left: s(83);
        }
    }

    &__bottom {
        margin-top: s(27);
        @media (min-width: 768px) {
            margin-top: s(49);
        }
    }

}

.checkbox-custom {
    width: s(24);
    height: s(24);
    border: s(1) solid #FFFFFF;
    box-sizing: border-box;
    border-radius: s(1);
    margin-right: s(15);
    position: relative;

    .check {
        display: none;
    }
}

.checkbox:checked + .checkbox-custom {
    background: $orange;

    .check {
        display: flex;
    }
}

.input {
    padding-bottom: s(3);
    background: transparent;
}

.how {
    margin-top: s(62);

    @media (min-width: 768px) {
        margin-top: s(91);
    }

    &__items {
        margin-top: s(18);
        
        @media (min-width: 768px) {
            margin-top: s(28);
        }
    }
}

.how-item {
    margin-top: s(9);

    @media (min-width: 768px) {
        margin-top: s(27);
    }

    &__orange-circle {
        left: 0;
        transform: translateX(-50%) scale(.5);

        @media (min-width: 768px) {
            transform: translateX(-50%) scale(1);
        }
    }

    &__small-dotted-circle, &__small-circle {
        right: 0;
        transform: translateX(50%) scale(.5);
        
        @media (min-width: 768px) {
            transform: translateX(50%) scale(1);
        }
    }

    &__inner {
        padding-left: s(18);
        height: s(98);

        @media (min-width: 768px) {
            height: s(160);
            padding-left: s(33);
        }
    }

    &__number {
        font-size: s(40);
        line-height: 1;
        margin-right: s(38);
        
        @media (min-width: 768px) {
            font-size: s(80);
            margin-right: s(89);
        }
    }

    &__title {
        max-width: s(195);
        font-size: s(16);

        @media (min-width: 576px) {
            max-width: s(341);
        }

        @media (min-width: 768px) {
            max-width: s(341);
            font-size: s(24);
        }
    }

    &__desc {
        max-width: s(186);
        font-size: s(14);
        margin-top: s(3);

        @media (min-width: 576px) {
            max-width: s(312);
        }

        @media (min-width: 768px) {
            max-width: s(312);
            margin-top: s(8);
            font-size: s(20);
            line-height: s(23);

        }
    }
}

.program {
    margin-top: s(60);

    @media (min-width: 768px) {
        margin-top: s(88);
    }

    &__desc {
        max-width: s(817);
        margin-top: s(13);

        @media (min-width: 768px) {
            margin-top: s(22);
        }
    }

    &__options {
        margin-top: s(27);

        @media (min-width: 768px) {
            margin-top: s(27);
        }
    }
    
    &__option {
        width: 100%;
        
        @media (min-width: 768px) {
            width: s(330);
        }

        @media (min-width: 992px) {
            width: s(370);
        }

        &:nth-child(2) {
            margin-top: s(12);
        }

    }

    &__option-count {
        width: s(39);
        height: s(39);
        font-weight: bold;
        margin-right: s(11);
        font-size: s(18);

        @media (min-width: 768px) {
            font-size: s(22);
            width: s(49);
            height: s(49);
        }

    }

    &__plate {
        padding: s(27) s(18) s(28) s(22);
        @media (min-width: 768px) {
            padding: s(46) s(49) s(73) s(49);
            margin-top: s(30);
        }
    }

    &__orange-title {
        font-size: s(18);
        font-weight: bold;
        
        @media (min-width: 768px) {
            font-size: s(26);
        }

        &:not(:first-child) {
            margin-top: s(27);
            @media (min-width: 768px) {
                margin-top: s(45);
            }
        }
    }

    &__plate {
        margin-top: s(37);

        @media (min-width: 768px) {
            margin-top: 1.8rem;
        }
    }

    &__quests {
        margin-top: s(3);
        @media (min-width: 768px) {
            margin-top: s(9);
        }
    }

    &__dots {
        right: - s(23);
        top: s(179);
        transform: translateX(50%);

        @media (min-width: 992px) {
            right: s(16);
            top: s(76);
            transform: translateX(50%);
        }
    }

}

.quest {
    padding: s(11) 0;
    @media (min-width: 768px) {
        padding: s(24) 0;
    }

    &__chevron {
        transition: .3s;
        transform: scale(.7);

        @media (min-width: 768px) {
            transform: scale(1);
        }

        &.open {
            transform: rotateX(180deg) scale(.7);

            @media (min-width: 768px) {
                transform: rotateX(180deg) scale(1);
            }
        }
    }

    &__content {
        padding-top: s(28);
        display: none;
        line-height: 1.22;
        max-width: s(1100);
        
        @media (min-width: 768px) {
            line-height: 1.35;
        }

        li {
            margin-bottom: s(30);

            @media (min-width: 768px) {
                margin-bottom: s(32);
            }
        }
    }
}

.teachers {
    margin-top: s(70);

    @media (min-width: 768px) {
        margin-top: s(96);
        padding-bottom: s(122);
    }

    &__items {
        margin-left: - s(10);
        margin-right: - s(10);
        margin-top: s(28);
        -webkit-overflow-scrolling:touch;

        @media (min-width: 768px) {
            margin-top: s(44);
            margin-left: - s(15);
            margin-right: - s(15);
        }
    }

    &__circle {
        bottom: - s(95);
        left: - s(120);
    }

}

.teacher {
    padding-left: s(10);
    padding-right: s(10);
    max-width: s(158);
    width: s(158);
    flex-shrink: 0;
    
    @media (min-width: 768px) {
        max-width: s(240);
        width: s(240);
        padding-left: s(15);
        padding-right: s(15);
    }

    &__name {
        font-size: s(16);
        font-weight: bold;
        width: s(145);
        line-height: 1.2;
        margin-top: s(14);
        padding-bottom: s(8);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: s(3);
            width: s(54);
            background: $orange;

            @media (min-width: 768px) {
                width: s(120);
            }
        }

        @media (min-width: 768px) {
            font-size: s(20);
            padding-bottom: s(16);
        }
    }


    &__img {
        background: no-repeat center;
        background-size: cover;
        height: s(185);

        @media (min-width: 768px) {
            height: s(282);
        }
    }

    &__desc {
        font-size: s(12);
        line-height: 1.23;
        margin-top: s(13);

        @media (min-width: 768px) {
            font-size: s(16);
        }
    }

}

.reviews-slider {
    margin-left: - s(10);
    margin-right: - s(10);

    &__wrap {
        max-width: s(830);
    }

    &__slide {
        padding-left: s(10);
        padding-right: s(10);
    }


    &__slide-inner {
        background: #F7F5F2;
        padding: s(23);
        margin-top: s(30);

        @media (min-width: 768px) {
            margin-top: s(49);
            padding: s(34) s(40) s(75) s(40);
        }
    }
    
    &__avatar {
        background: #F7F5F2;
        width: s(80);
        height: s(80);
        margin-right: s(13);

        @media (min-width: 768px) {
            margin-right: s(21);
            width: s(93);
            height: s(93);
        }
    }

    &__text {
        margin-top: s(14);
        font-size: s(14);
        line-height: 1.57;
        font-weight: 500;
    }

    &__name {
        font-size: s(16);
        font-weight: 500;
        
        @media (min-width: 768px) {
            font-size: s(20);
        }

    }

    &__city {
        font-size: s(16);
        font-weight: 400;
    }

    &__date {
        font-size: s(14);
        font-weight: 300;
        width: 100%;
        margin-top: s(10);

        @media (min-width: 576px) {
            width: s(100);
            justify-content: end;
            margin-top: 0;
        }

        @media (min-width: 768px) {
            font-size: s(16);
        }
    }
}

.reviews {
    margin-top: s(28);

    @media (min-width: 768px) {
        margin-top: 0;
    }

    &__circle {
        bottom: - s(100);
        left: s(192);

        @media (min-width: 992px) {
            top: - s(80);
            right: - s(42);
            bottom: auto;
            left: auto;
        }
    }

    &__inner {
        padding-top: s(45);
        padding-bottom: s(113);

        @media (min-width: 768px) {
            padding-top: s(92);

        }
    }
}

.questions {
    padding-top: s(90);

    &__list {
        margin-top: s(16);
    }
}

.footer {
    margin-top: s(60);
    padding-top: s(34);
    padding-bottom: s(16);

    @media (min-width: 768px) {
        margin-top: s(110);
    }

    .logo svg {
        width: 11rem!important;

        @media (min-width: 768px) {
            width: auto;
        }
    }

    .white-button {
        margin-top: s(34);
        @media (min-width: 768px) {
            margin-top: 0;
        }
    }

    .first__phone-sm {
        font-size: s(22);
        margin-top: s(27);

    }

    .first__phone-sm-text {
        font-size: s(16);
    }
}

.copyright {
    margin-top: s(45);
}